<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>quarkus-api-pn</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body >
<div class="header" align="right"><img src="/img/spring.jpg" height="60px"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>Application <span>Spring Boot</span></li>
      <li><a href="http://www.neogiciel.com" target="_blank">Company</a></li>
    </ul>
  </div>
  <div id='center' class="main center">
    <div class="p">
    <div class="table">
      <div class="txt">Test Broker</div>
    </div>
      <div class="table">
        <div>
          <a href="page/rabbit" class="lien"><img src="/img/rabbit.jpg" height="60px"></a><br>  
       </div>
       <div>
        <a href="page/rabbit" class="lien"><img src="/img/kafka.jpg" height="60px"></a><br>  
       </div>
       <div>
        <a href="page/rabbit" class="lien"><img src="/img/redis.jpg" height="60px"></a><br>  
    </div>
    </div>        
    </div>
    </div>
  </div>
 </body>

</html>
