<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>quarkus-api-pn</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body >
<div class="header" align="right"><img src="/img/logo.jpg" height="60px"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>Application <span>Spring Boot</span></li>
      <li><a href="http://www.neogiciel.com" target="_blank">Company</a></li>
    </ul>
  </div>
  <div id='center' class="main center">
    <div class="p">
    <div class="table">
      <div class="txt">Application Rabbit MQ  </div>
    </div>
    <div class="table">
      <a href="/test" class="lien">Test</a><br>
      <a href="/send" class="lien">Send</a><br>
      <a href="/sendparam/1" class="lien">SendParam 1</a><br>
      <a href="/page" class="lien">Affiche Messages</a><br>

    </div>
    </div>
  </div>
 </body>

</html>
